*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*#region Header & Nav */

header
{
    background-color: black;
    height: 100px;
    width: 100%;
    position: fixed;
    border-bottom: #6ABDBD 5px solid;
    font-family: 'Bebas Neue', cursive;
}
li
{
    list-style: none;
}
a{
    color: #FFFAE2;
    text-decoration: none;
}
.navbar
{
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}
.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}
.nav-branding{
    font-size: 3rem;
}
.nav-link{
    transition: 0.3s ease;
    font-size: 2rem;
}
.nav-link:hover{
    color: #6ABDBD;
}
.ham {
    display: none;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .hamRotate.active {
    transform: rotate(45deg);
  }
  .hamRotate180.active {
    transform: rotate(180deg);
  }
  .line {
    fill:none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke: #FFFAE2;
    stroke-width:5.5;
    stroke-linecap:round;
  }
  .ham1 .top {
    stroke-dasharray: 40 139;
  }
  .ham1 .bottom {
    stroke-dasharray: 40 180;
  }
  .ham1.active .top {
    stroke-dashoffset: -98px;
  }
  .ham1.active .bottom {
    stroke-dashoffset: -138px;
  }
@media(max-width: 768px){
    .nav-menu{
        position: fixed;
        left: -100%;
        top: 100px;
        gap: 0;
        flex-direction: column;
        background-color: black;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        border-bottom: #6ABDBD 5px solid;
    }

    .nav-item{
        margin: 16px 0;

    }

    .nav-menu.active{
        left: 0;
    }
    
    .ham{
        display: block;
    }
}

/*#endregion */

body{
    background-color: #262626;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    height: 100vh;
}

main
{
  margin-top: 100px;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.left-side
{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.upload-menu
{
  width: 100%;
  height: 50%;
  border: #FFFAE2 5px solid;
}
.category-menu
{
  width: 100%;
  height: 50%;
  border: #FFFAE2 5px solid;
}

.card-holder
{
  width: 50%;
  height: 100%;
}

.card
{
  width: 360px;
  margin: auto;
  height: 640px;
  border-radius: 10px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);

  border: 0.5vmin solid var(--border);
  cursor: pointer;
}

@media (max-width: 768px){
    .left-side{
        width: 100%;
        height: 50%;
    }
    main{
        flex-direction: column;
        height: 200vh;
    }
    .card-holder{
        width: 100%;
        height: 50%;
    }
}